<!-- Slider Section Strat -->
<div class="custom-container-three container-fluid">
  <div class="container-three-inner">
    <div class="slider-section slider-active overflow-hidden">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/4.png)"
          >
            <div class="slider-content-05">
              <h1
                class="slider-content-05__title"
                style="color: black !important"
              >
                Liquid Filling.
              </h1>
              <span class="slider-content-05__subtitle">Aptech</span>
              <a
                class="slider-content-05__btn btn slider-btn-01"
                href="shop.html"
                >Shop Now</a
              >
            </div>
          </div>

          <!-- Single Slider End -->

          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/5.png)"
          >
            <div class="slider-content-05">
              <h1
                class="slider-content-05__title"
                style="color: black !important"
              >
                Capsule/Encapsulation.
              </h1>
              <span class="slider-content-05__subtitle">Aptech</span>
              <a
                class="slider-content-05__btn btn slider-btn-01"
                href="shop.html"
                >Shop Now</a
              >
            </div>
          </div>
          <!-- Single Slider End -->

          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/ba.png)"
          >
            <div class="slider-content-05">
              <h1
                class="slider-content-05__title"
                style="color: black !important"
              >
                Tablet process.
              </h1>
              <span class="slider-content-05__subtitle">Aptech</span>
              <a
                class="slider-content-05__btn btn slider-btn-01"
                href="shop.html"
                >Shop Now</a
              >
            </div>
          </div>
          <!-- Single Slider End -->
        </div>
        <div class="slider-arrow-two">
          <div class="swiper-button-next">
            <i class="lastudioicon-left-arrow"></i>
          </div>
          <div class="swiper-button-prev">
            <i class="lastudioicon-right-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Slider Section End -->
