<!-- Slider Section Strat -->
<div class="custom-container-three container-fluid">
  <div class="container-three-inner">
    <div class="slider-section slider-active overflow-hidden">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/slider-5-1.jpg)"
          >
            <!-- Slider Content Start -->
            <div class="slider-content-05">
              <h1 class="slider-content-05__title">Sweet classics.</h1>
              <span class="slider-content-05__subtitle">Génial</span>
              <a
                class="slider-content-05__btn btn slider-btn-01"
                href="shop.html"
                >Shop Now</a
              >
            </div>
            <!-- Slider Content Start -->
          </div>
          <!-- Single Slider End -->

          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/slider-5-2.jpg)"
          >
            <!-- Slider Content Start -->
            <div class="slider-content-05">
              <h1 class="slider-content-05__title">Eat it instead.</h1>
              <span class="slider-content-05__subtitle">Génial</span>
              <a
                class="slider-content-05__btn btn slider-btn-01"
                href="shop.html"
                >Shop Now</a
              >
            </div>
            <!-- Slider Content Start -->
          </div>
          <!-- Single Slider End -->

          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/slider-5-3.jpg)"
          >
            <!-- Slider Content Start -->
            <div class="slider-content-05">
              <h1 class="slider-content-05__title">Let’s Get Baked!</h1>
              <span class="slider-content-05__subtitle">Génial</span>
              <a
                class="slider-content-05__btn btn slider-btn-01"
                href="shop.html"
                >Shop Now</a
              >
            </div>
            <!-- Slider Content Start -->
          </div>
          <!-- Single Slider End -->
        </div>
        <div class="slider-arrow-two">
          <div class="swiper-button-next">
            <i class="lastudioicon-left-arrow"></i>
          </div>
          <div class="swiper-button-prev">
            <i class="lastudioicon-right-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Slider Section End -->
