<!-- Slider Section Strat -->
<div class="custom-container-three container-fluid">
  <div class="container-three-inner">
    <div class="slider-section slider-active overflow-hidden">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/banner1.jpg)"
          ></div>
          <!-- Single Slider End -->

          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/banner2.jpg)"
          ></div>
          <!-- Single Slider End -->

          <!-- Single Slider Start -->
          <div
            class="swiper-slide single-slider-05 animation-style-05"
            style="background-image: url(assets/images/slider/banner3.jpg)"
          ></div>
          <!-- Single Slider End -->
        </div>
        <div class="slider-arrow-two">
          <div class="swiper-button-next">
            <i class="lastudioicon-left-arrow"></i>
          </div>
          <div class="swiper-button-prev">
            <i class="lastudioicon-right-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Slider Section End -->
