<!-- Header Start -->
<div class="header-section header-sticky-05">
  <div class="container custom-container-two position-relative">
    <div class="headertop">
      <div class="headertop-left">
        <ul class="hotline-wrapper">
          <li>
            <div class="hotline">
              <i class="lastudioicon lastudioicon-support248"></i>
              <div class="hotline-content">
                <span class="hotline-text">Hotline</span>
                <a
                  class="hotline-link"
                  [href]="getPhoneHref(hotlineData.hotlineNumber)"
                  >{{ hotlineData.hotlineNumber }}</a
                >
              </div>
            </div>
          </li>
          <li>
            <div class="hotline">
              <i class="lastudioicon lastudioicon-pin-check"></i>
              <div class="hotline-content">
                <span class="hotline-text">Store Location</span>
                <a class="hotline-link" href="#/">{{
                  hotlineData.storeLocation
                }}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="headertop-center">
        <!-- Header Logo Start -->
        <div class="header-logo">
          <a href="index.html"
            ><img
              src="assets/images/Pharmatech.png"
              width="229"
              height="62"
              alt="Logo"
          /></a>
        </div>
        <!-- Header Logo End -->
      </div>
      <div class="headertop-right">
        <!-- Header Meta Start -->
        <div class="header-meta">
          <ul
            class="header-meta__action header-meta__action-02 d-flex justify-content-end"
          >
            <li>
              <button
                class="action"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWishlist"
                [routerLink]="['/wishlist', user?._id]"
              >
                <i class="far fa-heart"></i>
              </button>
            </li>

            <li>
              <button
                class="action"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasCart"
              >
                <i class="lastudioicon-shopping-cart-2"></i>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
                >
                  {{ cartCount }}
                </span>
              </button>
            </li>
            <!-- Khi đã đăng nhập -->
            <li *ngIf="isLoggedIn" class="d-flex align-items-center gap-2">
              <a
                (click)="logout()"
                class="btn btn-outline-primary btn-sm"
                style="
                  padding: 2px 12px;
                  max-height: 35px;
                  max-width: 82px;
                  line-height: 30px;
                "
              >
                Logout
              </a>

              <a class="action" [routerLink]="['/profile', user?._id]">
                <i class="lastudioicon-single-01-2"></i>
              </a>
            </li>

            <!-- Khi chưa đăng nhập -->
            <li *ngIf="!isLoggedIn">
              <a
                routerLink="/auth/login"
                class="btn btn-outline-primary btn-sm"
                style="
                  padding: 2px 12px;
                  max-height: 35px;
                  max-width: 82px;
                  line-height: 30px;
                "
              >
                Login
              </a>
            </li>

            <li class="d-lg-none">
              <button
                class="action"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasMenu"
              >
                <i class="lastudioicon-menu-8-1"></i>
              </button>
            </li>
          </ul>
        </div>
        <!-- Header Meta End -->
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Header Menu Start -->
        <div class="header-menu d-none d-lg-block">
          <ul
            class="header-primary-menu header-primary-menu-05 d-flex justify-content-center"
          >
            <li>
              <a [routerLink]="['/home']" class="menu-item-link"
                ><span>Home</span></a
              >
            </li>
            <li class="position-static">
              <a class="menu-item-link" [routerLink]="['/shop']"
                ><span>Shop</span></a
              >

              <ul class="sub-menu sub-menu-mega">
                <li class="mega-menu-item">
                  <ul>
                    <li class="mega-menu-item-title">Production Equipment</li>
                    <li *ngFor="let cat of categories">
                      <a
                        class="sub-item-link"
                        (click)="goToCategory(cat._id || cat.id)"
                      >
                        <span>{{ cat.name }}</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="mega-menu-item">
                  <ul>
                    <li class="mega-menu-item-title">Service</li>
                    <li>
                      <a
                        class="sub-item-link"
                        [routerLink]="['/services']"
                        [queryParams]="{ tab: 'consulting' }"
                      >
                        <span>Consulting</span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="sub-item-link"
                        [routerLink]="['/services']"
                        [queryParams]="{ tab: 'technical-support' }"
                      >
                        <span>Technical Support</span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="sub-item-link"
                        [routerLink]="['/services']"
                        [queryParams]="{ tab: 'equipment-upgrade' }"
                      >
                        <span>Equipment Upgrade</span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="sub-item-link"
                        [routerLink]="['/services']"
                        [queryParams]="{ tab: 'maintenance' }"
                      >
                        <span>Maintenance</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="mega-menu-item">
                  <ul>
                    <li class="mega-menu-item-title">Purchase</li>
                    <li>
                      <a
                        class="sub-item-link"
                        [routerLink]="['/purchase']"
                        [queryParams]="{ tab: 'customer-intake' }"
                      >
                        <span>Customer Information Intake</span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="sub-item-link"
                        [routerLink]="['/purchase']"
                        [queryParams]="{ tab: 'technical-consulting' }"
                      >
                        <span>Technical Equipment Consulting</span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="sub-item-link"
                        [routerLink]="['/purchase']"
                        [queryParams]="{ tab: 'urs-development' }"
                      >
                        <span>URS Development</span>
                      </a>
                    </li>
                    <li>
                      <a
                        class="sub-item-link"
                        [routerLink]="['/purchase']"
                        [queryParams]="{ tab: 'contract-signing' }"
                      >
                        <span>Contract Signing</span>
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="mega-menu-item banner-menu-content-wrap">
                  <ul>
                    <li>
                      <a href="shop.html">
                        <img src="assets/images/banner/do4.jpg" alt="Shop" />
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a class="menu-item-link" [routerLink]="['/about-us']"
                ><span>About</span></a
              >
            </li>
            <li>
              <a class="menu-item-link" [routerLink]="['/career']"
                ><span>Career</span></a
              >
            </li>
            <li>
              <a class="menu-item-link" [routerLink]="['/contact']"
                ><span>Contact</span></a
              >
            </li>
            <li *ngIf="role === 'admin' || role === 'superadmin'">
              <a class="menu-item-link" [routerLink]="['/admin']"
                ><span>Dashboard</span></a
              >
            </li>
          </ul>
        </div>
        <!-- Header Menu End -->
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Search Start  -->
<div
  class="search-popup position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center p-6 bg-black bg-opacity-75"
>
  <div class="search-popup__form position-relative">
    <form action="#">
      <input
        class="search-popup__field border-0 border-bottom bg-transparent text-white w-100 tra py-3"
        type="text"
        placeholder="Search…"
      />
      <button
        class="search-popup__icon text-white border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y"
      >
        <i class="lastudioicon-zoom-1"></i>
      </button>
    </form>
  </div>
  <button
    class="search-popup__close position-absolute top-0 end-0 m-8 p-3 lh-1 border-0 text-white fs-4"
  >
    <i class="lastudioicon-e-remove"></i>
  </button>
</div>
<!-- Search End -->

<!-- offcanvas Menu Start -->
<div
  class="offcanvas offcanvas-end offcanvas-menu bg-secondary"
  id="offcanvasMenu"
>
  <div class="offcanvas-header justify-content-end">
    <button
      type="button"
      class="btn-close text-white"
      data-bs-dismiss="offcanvas"
    >
      <i class="lastudioicon-e-remove"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <ul class="mobile-primary-menu">
      <li>
        <a href="#" class="menu-item-link active"><span>Home</span></a>
        <ul class="sub-menu">
          <li>
            <a class="sub-item-link" href="index.html"
              ><span>Cake Shop 01</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="index-2.html"
              ><span>Cake Shop 02</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="index-3.html"
              ><span>Cake Shop 03</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="index-4.html"
              ><span>Cake Shop 04</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="index-5.html"
              ><span>Cake Shop 05</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="index-6.html"
              ><span>Cake Shop 06</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="index-7.html"
              ><span>Bread Shop</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="index-8.html"
              ><span>Bread Shop 02</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="index-9.html"
              ><span>Cake Shop Fullscreen</span></a
            >
          </li>
        </ul>
      </li>
      <li class="position-static">
        <a class="menu-item-link" href="#"><span>Shop</span></a>
        <ul class="sub-menu sub-menu-mega">
          <li class="mega-menu-item">
            <ul>
              <li class="mega-menu-item-title">Shop Layouts</li>
              <li>
                <a class="sub-item-link" href="shop-right-sidebar.html"
                  ><span>Shop Right Sidebar</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="shop-left-sidebar.html"
                  ><span>Shop Left Sidebar</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="shop.html"
                  ><span>Shop 4 Columns</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="shop-five-columns.html"
                  ><span>Shop 5 Columns</span></a
                >
              </li>
            </ul>
          </li>
          <li class="mega-menu-item">
            <ul>
              <li class="mega-menu-item-title">Product Types</li>
              <li>
                <a class="sub-item-link" href="single-product.html"
                  ><span>Product Simple</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="single-product-grouped.html"
                  ><span>Product Grouped</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="single-product-variable.html"
                  ><span>Product Variable</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="single-product-affiliate.html"
                  ><span>Product Affiliate</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="single-product-Custom.html"
                  ><span>Custom Layout</span></a
                >
              </li>
            </ul>
          </li>
          <li class="mega-menu-item">
            <ul>
              <li class="mega-menu-item-title">Others</li>
              <li>
                <a class="sub-item-link" href="shop-account.html"
                  ><span>My Account</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="shop-cart.html"
                  ><span>Cart</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="shop-wishlist.html"
                  ><span>Wishlist</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="shop-checkout.html"
                  ><span>Checkout</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="shop-compare.html"
                  ><span>Compare</span></a
                >
              </li>
              <li>
                <a class="sub-item-link" href="shop-order-tracking.html"
                  ><span>Order Tracking</span></a
                >
              </li>
            </ul>
          </li>
          <li class="mega-menu-item banner-menu-content-wrap">
            <ul>
              <li>
                <a href="shop.html">
                  <img
                    src="assets/images/product/featured-product-01.png"
                    alt="Shop"
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-item-link" href="#"><span>Pages</span></a>
        <ul class="sub-menu">
          <li>
            <a class="sub-item-link" href="about.html"><span>About</span></a>
          </li>
          <li>
            <a class="sub-item-link" href="contact.html"
              ><span>Contact</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="contact-2.html"
              ><span>Contact 2</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="our-chef.html"
              ><span>Our Chef</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="faq.html"><span>FAQs</span></a>
          </li>
          <li>
            <a class="sub-item-link" href="pricing.html"
              ><span>Pricing Plans</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="404.html"
              ><span>404 Not Found</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="coming-soon.html"
              ><span>Coming Soon</span></a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-item-link" href="#"><span>Blog</span></a>
        <ul class="sub-menu">
          <li>
            <a class="sub-item-link" href="blog-right-sidebar.html"
              ><span>Blog Right Sidebar</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="blog-left-sidebar.html"
              ><span>Blog Left Sidebar</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="blog-no-sidebar.html"
              ><span>Blog No Sidebar</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="blog-grid-right-sidebar.html"
              ><span>Blog Grid Right Sidebar</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="blog-grid-left-sidebar.html"
              ><span>Blog Grid Left Sidebar</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="blog-grid-no-sidebar.html"
              ><span>Blog Grid No Sidebar</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="blog-details-right-sidebar.html"
              ><span>Blog Post Right Sidebar</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="blog-details-left-sidebar.html"
              ><span>Blog Post Left Sidebar</span></a
            >
          </li>
          <li>
            <a class="sub-item-link" href="blog-details.html"
              ><span>Blog Details</span></a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="menu-item-link" href="contact.html"><span>Contact</span></a>
      </li>
    </ul>
    <ul class="hotline-wrapper offcanvas-hotline">
      <li>
        <div class="hotline">
          <i class="lastudioicon lastudioicon-support248"></i>
          <div class="hotline-content">
            <span class="hotline-text">Hotline</span>
            <a
              class="hotline-link"
              [href]="getPhoneHref(hotlineData.hotlineNumber)"
              >{{ hotlineData.hotlineNumber }}</a
            >
          </div>
        </div>
      </li>
      <li>
        <div class="hotline">
          <i class="lastudioicon lastudioicon-pin-check"></i>
          <div class="hotline-content">
            <span class="hotline-text">Store Location</span>
            <a class="hotline-link" href="#/">{{
              hotlineData.storeLocation
            }}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- offcanvas Menu End -->

<!-- 🧾 Offcanvas Cart Start -->
<div class="offcanvas offcanvas-end offcanvas-cart" id="offcanvasCart">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">My Cart</h4>
    <button
      type="button"
      class="btn-close text-secondary"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    >
      <i class="lastudioicon lastudioicon-e-remove"></i>
    </button>
  </div>

  <div class="offcanvas-body">
    <!-- Offcanvas Cart Items Start -->
    <ul class="offcanvas-cart-items list-unstyled mb-0">
      <!-- 🛍️ Mỗi sản phẩm trong giỏ -->
      <li *ngFor="let item of cartItems" class="border-bottom py-3">
        <div class="mini-cart-item d-flex align-items-center gap-3">
          <!-- ❌ Nút xóa -->
          <a
            href="javascript:void(0)"
            class="mini-cart-item__remove text-danger"
            (click)="removeCartItem(item._id)"
            title="Remove item"
          >
            <i class="lastudioicon lastudioicon-e-remove"></i>
          </a>

          <!-- 🖼️ Ảnh sản phẩm -->
          <div class="mini-cart-item__thumbnail flex-shrink-0">
            <a
              [routerLink]="[
                '/productDetails',
                item.product_id?._id || item.product_id
              ]"
              title="{{ item.product_id?.name }}"
            >
              <img
                [src]="
                  item.product_id?.photo
                    ? imageBase + item.product_id.photo
                    : 'assets/images/no-image.jpg'
                "
                width="70"
                height="70"
                class="rounded shadow-sm"
                [alt]="item.product_id?.name || 'Product'"
              />
            </a>
          </div>

          <!-- 🏷️ Thông tin sản phẩm -->
          <div class="mini-cart-item__content flex-grow-1">
            <h6 class="mini-cart-item__title mb-1">
              <a
                [routerLink]="[
                  '/productDetails',
                  item.product_id?._id || item.product_id
                ]"
                class="text-dark text-decoration-none"
              >
                {{ item.product_id?.name || "Unnamed Product" }}
              </a>
            </h6>

            <span class="mini-cart-item__quantity small text-muted">
              {{ item.quantity }} ×
              {{ item.price | currency : "USD" : "symbol" }}
            </span>
          </div>
        </div>
      </li>

      <!-- 🪣 Nếu giỏ hàng trống -->
      <li *ngIf="cartItems.length === 0" class="text-center py-4">
        <span class="text-muted">Your cart is empty.</span>
      </li>
    </ul>
    <!-- Offcanvas Cart Items End -->
  </div>

  <!-- 📦 Footer tổng tiền -->
  <div class="offcanvas-footer d-flex flex-column gap-3 border-top pt-3">
    <div class="mini-cart-totla d-flex justify-content-between">
      <span class="label fw-semibold">Subtotal:</span>
      <span class="value fw-bold">
        {{ cartTotal | currency : "USD" }}
      </span>
    </div>

    <!-- 🛒 Nút điều hướng -->
    <div class="mini-cart-btn d-flex flex-column gap-2 mt-2">
      <a
        class="btn btn-dark btn-hover-primary w-100"
        [routerLink]="['/cart', user?._id]"
        (click)="closeCartOffcanvas()"
      >
        View cart
      </a>
    </div>
  </div>
</div>
<!-- Offcanvas Cart End -->
