# ============================
# 🧱 DATABASE CONFIG
# ============================
connection_string=mongodb://localhost:27017/PharmaTech

# ============================
# 🌐 SERVER CONFIG
# ============================
image_url=http://localhost:3000/upload/

# ============================
# 📧 MAIL CONFIG
# (Sử dụng tài khoản Gmail có bật App Password)
# ============================
mail_host=smtp.gmail.com
mail_port=465
mail_username=aplevancanh1993@gmail.com
mail_password=xiof eisi hbuj obij
mail_starttls=true
