.card {
  border-radius: 12px;
}

.h-100 {
  height: 100%;
}

canvas {
  width: 100% !important;
  height: 350px !important;
}

.card {
  padding: 20px;
  border-radius: 14px;
  background: #ffffff;
  border: 1px solid rgba(200, 200, 200, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  min-height: 360px;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  }
}
