.bx-bell::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 8px;
  width: 6px;
  height: 6px;
  background-color: #ff3d3d;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
