<!-- Breadcrumb Section Start -->
<div
  class="breadcrumb"
  *ngIf="contact; else defaultBreadcrumb"
  [ngStyle]="{
    'background-image':
      'url(' +
      (contact?.bannerImage
        ? 'http://localhost:3000' + contact.bannerImage
        : 'assets/images/bg/breadcrumb-bg-4.jpg') +
      ')'
  }"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <h1 class="breadcrumb_title">Contact Us</h1>
          <ul class="breadcrumb_list">
            <li><a href="index.html">Home</a></li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #defaultBreadcrumb>
  <div class="breadcrumb" data-bg-image="assets/images/bg/breadcrumb-bg-4.jpg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb_content">
            <h1 class="breadcrumb_title">Contact Us</h1>
            <ul class="breadcrumb_list">
              <li><a href="index.html">Home</a></li>
              <li>Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Breadcrumb Section End -->

<!-- Contact form section Start -->
<div class="section-padding-03 contact-section2 contact-section2_bg">
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-section2_content">
          <h2 class="contact-section2__title">Information</h2>
          <p
            class="contact-section2__text"
            [innerHTML]="
              contact?.content ||
              'Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt'
            "
          ></p>
          <ul class="contact-section2_list">
            <!-- Addresses -->
            <li *ngIf="contact?.addresses && contact.addresses.length > 0">
              <span class="contact-section2_list__icon"
                ><i class="lastudioicon lastudioicon-pin-3-2"></i
              ></span>
              <span class="contact-section2_list__text">
                <span *ngFor="let addr of contact.addresses; let last = last">
                  {{ addr }}<br *ngIf="!last" />
                </span>
              </span>
            </li>
            <li *ngIf="!contact?.addresses || contact.addresses.length === 0">
              <span class="contact-section2_list__icon"
                ><i class="lastudioicon lastudioicon-pin-3-2"></i
              ></span>
              <span class="contact-section2_list__text"
                >6391 Elgin St. Celina, Delaware 10299 <br />
                2464 Royal Ln. Mesa, New Jersey 45463</span
              >
            </li>

            <!-- Phone Numbers -->
            <li *ngIf="contact?.phones && contact.phones.length > 0">
              <span class="contact-section2_list__icon"
                ><i class="lastudioicon lastudioicon-phone-2"></i
              ></span>
              <span class="contact-section2_list__text">
                <span *ngFor="let phone of contact.phones; let last = last">
                  {{ phone }}<br *ngIf="!last" />
                </span>
              </span>
            </li>
            <li *ngIf="!contact?.phones || contact.phones.length === 0">
              <span class="contact-section2_list__icon"
                ><i class="lastudioicon lastudioicon-phone-2"></i
              ></span>
              <span class="contact-section2_list__text"
                >+880-123-456789 <br />
                +880-123-456789</span
              >
            </li>

            <!-- Email Addresses -->
            <li *ngIf="contact?.emails && contact.emails.length > 0">
              <span class="contact-section2_list__icon"
                ><i class="lastudioicon lastudioicon-mail"></i
              ></span>
              <span class="contact-section2_list__text">
                <span *ngFor="let email of contact.emails; let last = last">
                  {{ email }}<br *ngIf="!last" />
                </span>
              </span>
            </li>
            <li *ngIf="!contact?.emails || contact.emails.length === 0">
              <span class="contact-section2_list__icon"
                ><i class="lastudioicon lastudioicon-mail"></i
              ></span>
              <span class="contact-section2_list__text"
                >info@admin.com <br />
                test.mail.com</span
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-section2_formbg">
          <h2 class="contact-section2_form__title">Say Something...</h2>

          <!-- Success/Error Message -->
          <div
            *ngIf="submitMessage"
            class="alert alert-dismissible fade show mb-3"
            [ngClass]="{
              'alert-success': submitMessageType === 'success',
              'alert-danger': submitMessageType === 'error'
            }"
            role="alert"
          >
            {{ submitMessage }}
          </div>

          <form
            [formGroup]="contactMessageForm"
            (ngSubmit)="onSubmitContactForm()"
            class="contact-section2_form"
          >
            <div class="row">
              <div class="col-sm-6 col-6 form-p">
                <div class="form-group">
                  <label style="color: #212121">First Name*</label>
                  <input
                    class="form-field"
                    type="text"
                    formControlName="firstName"
                    style="color: #333"
                    [class.is-invalid]="
                      contactMessageForm.get('firstName')?.invalid &&
                      contactMessageForm.get('firstName')?.touched
                    "
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      contactMessageForm.get('firstName')?.invalid &&
                      contactMessageForm.get('firstName')?.touched
                    "
                  >
                    First name is required
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-6 form-p">
                <div class="form-group">
                  <label style="color: #212121">Last Name*</label>
                  <input
                    class="form-field"
                    type="text"
                    formControlName="lastName"
                    style="color: #333"
                    [class.is-invalid]="
                      contactMessageForm.get('lastName')?.invalid &&
                      contactMessageForm.get('lastName')?.touched
                    "
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      contactMessageForm.get('lastName')?.invalid &&
                      contactMessageForm.get('lastName')?.touched
                    "
                  >
                    Last name is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-p">
                <div class="form-group">
                  <label style="color: #212121">Email Address*</label>
                  <input
                    class="form-field"
                    type="email"
                    formControlName="email"
                    style="color: #333"
                    [class.is-invalid]="
                      contactMessageForm.get('email')?.invalid &&
                      contactMessageForm.get('email')?.touched
                    "
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      contactMessageForm.get('email')?.invalid &&
                      contactMessageForm.get('email')?.touched
                    "
                  >
                    <span
                      *ngIf="contactMessageForm.get('email')?.errors?.['required']"
                      >Email is required</span
                    >
                    <span
                      *ngIf="contactMessageForm.get('email')?.errors?.['email']"
                      >Please enter a valid email</span
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-p">
                <div class="form-group">
                  <label style="color: #212121">Message*</label>
                  <textarea
                    class="form-control text-area"
                    formControlName="message"
                    style="color: #333"
                    [class.is-invalid]="
                      contactMessageForm.get('message')?.invalid &&
                      contactMessageForm.get('message')?.touched
                    "
                  ></textarea>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      contactMessageForm.get('message')?.invalid &&
                      contactMessageForm.get('message')?.touched
                    "
                  >
                    Message is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-p">
                <div class="form-group mb-0 d-flex justify-content-center">
                  <button
                    class="btn btn-secondary btn-hover-primary"
                    type="submit"
                    [disabled]="isSubmitting"
                  >
                    {{ isSubmitting ? "Sending..." : "Send Message" }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact form section End -->

<!-- Contact Map Start -->
<div class="section">
  <!-- Google Map Area Start -->
  <div
    class="google-map-area w-100"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <iframe class="contact-map" [src]="safeMapUrl" allowfullscreen></iframe>
  </div>
  <!-- Google Map Area End -->
</div>
<!-- Contact Map End -->
